
/* ===================== Default setting ======================== */

/* declaring variables for the consistency of the format */
:root {
    --indigo:  #9b5de5;
    --Cerise: #f15bb5;
    --gargoyleGas: #fee440;
    --navy: #0077b6;
    --seaGreen:#00f5d4;
}

/* set-up default margin, padding, font and color */
*{
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font: 16px;
    color:var(--mulledWine);
}

/* The children element within body should be flexible*/
body{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    padding-left: 10%;
    padding-right: 10%;
    height:100vh;
    background-color:white;
}

/* ===================== setting ======================== */

.headerBlue{
    margin:0;
    padding: 0;
    width: 100%;
    height: 10%;
    background-color:var(--navy);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerText{
    color: white;
}

main{
    width: 100%;
    height: 600px;
    display:flex;
    flex-direction: row;
}

.left{
    width: 30%;
    background-color: white;
    margin:0%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.locationInputForm{
    width: 96%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.form-label{
    color:var(--navy);
    font-weight:900;
    margin: 2%;
    width:100%;
    font-size: 1.5rem;
    font-weight: 500;
}

::placeholder{
    color:white;
}

.form-input{
    height:2rem;
    margin: 2%;
    width:100%;
    background-color: var(--navy);
    border: 0px;
    text-align: center;
    font-style: oblique;
}

.form-input:hover{
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--indigo);
}

.form-input:active{
    background-color: var(--indigo);
}

.form-btn{
    margin: 2%;
    width:100%;
    height:2rem;
    border-radius: 1rem;
    border: solid 0.2px var(--navy);
    background-color: white;
    color: var(--navy);
    font-weight: 900;
}

.form-btn:hover{
    border: 0px;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--indigo);
    color: var(--gargoyleGas);
}

.form-btn:active{
    border: 0px;
    background-color: var(--indigo);
    color: var(--gargoyleGas);
}

.divisionLine{
    margin: 2%;
    width:96%;
    border-bottom: 1px solid var(--navy);
}

.historyCityList{
    margin: 2%;
    width:96%;
    list-style: none;
}

.historyCityList > * {
    margin-top: 20px;
    width: 100%;
    height: 2rem;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border: solid 0.1px var(--blueBolt);
    border-radius: 1rem;
    color: #00bbf9;
    font-weight: 100;
}

.right{
    width: 70%;
    margin:0%;
}

.currentWeather{
    padding-left: 3%;
    height: 300px;
    background-color:white;
    color:var(--navy);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.today{
    font-size: 1.2rem;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

.today > img{
    margin-left: 10px;
    transform: translateY(-5px);
    height: 4rem;
    object-fit: contain;
}

.taller{
    font-size: 2rem;
}

.bolder{
    font-weight: bolder;
}

#uvBlock{
    display: block;
    text-align: center;
    width: 4rem;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
    margin-left: 20px;
}

.forcastText{
    color: #0077b6;
}

.forecastData{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:300px;
}

.forcast {
    width: 15%;
    height: 80%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    border: solid 0.1px var(--navy)
}

.forcastText{
    color: var(--navy);
}

.forcastText > img {
    transform: translateY(10px);
    height: 2rem;
    object-fit: contain;
}